<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<!-- Copied from https://livedemo.zemez.io/html/casecraft/about-us.html by Cyotek WebCopy 1.7.0.600, Saturday, January 25, 2020, 8:41:52 AM -->



<head>
    <title> Ariamson Group || About Us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
  <script src="js/html5shiv.min.js"></script>

    <![endif]-->




    n page-header"
    < <d s=" rd-navbar-nav">
        <aclass </ l>
            n-->
            <ul cl ass="rd-mena vbar-dropdown">
                <l i class="rd-drop dow-item"><a class="rd-dropdo wn-link" href="accounting-website.html">Accounting Website</a></li>
                    <li cla ss="rd-dro-item">
                        < a class="rd-dropdown-link" href="advertising-y.html">Advertising Agency</a>
                    </li>
                    i
                    <li classwn-item "><a class="rd-dropdown-link " href= "call-center.html ">Call Cent er</a></li> 
                            </u l>   
                            <          <li cl               ass="r-item "><a class="rd-dropdown-link " href="job-portal.html " >Job Portal</a></li>
                            href="mana gement-company.html ">Management Company</ a></li>   
                              ss" href="marketing -agency.html">Marketing Agency</a>
                        < /li>


                    </li>
                    ai ti o ns
                    <li </li>


                        < /i>
                            </>lons



                            <lic class="rd     -
megam enu">



                                i
                                <ul <cl ass="r         d-megamenu-list">

                                    <li class="rd-megamenu class=" rd-megament-link " href="typography.html ">Typography</a></li>
                                Buttons</a></li> 
                                     "rd-meu lass="gamink" ms.htl ">For m s</a></li>     
       <g                        amenu-item">
                                        < class="rd-meg
                  am" </li>
                                            hrars .html ogess bali>
                                            < /li>
                                            </ "rd-m       <li e gamenu-listclass="menu-list-link " hrf="tab s.html ">Tabs</a></li>

        lass</li>
=" dli>
                                            <amen/u> /u >
                                                <li cl ass="rd      -meg amen     
                    -lis t-item">
                                                    <a class="rd-megamenu- list-lin   
                         k" href<li=ions.html </ul>
                                        </ li class="r megam      
               <ul class=" rd- am " hrars.html"</li>
                                        < i c l gamenu-l<liicst ">     
                                </li>         l <i  
i class=      "rd-megamenu-ist-l </li>
                                            <li c lass="rd-megamen        lass=" -l </li>
                                                li
                                                <li="rd-nav-item">
                                                    <li </ul>
                                                        egamen u-li st-item"> ai lass="regamenu-list-link" href="maps-and-contact.html">Maps &amp; Contacts</a>
                                                    </li>
                                                    / >
                                                    <i c l </li>
s="ame           nu-list-item"><a class="rdega menu-listfolio-and-galler ies .html">Portfolio &amp; Galleries</a></li>

   e 
     
                                                        i clas                    s="rd-megameu-list-item"><a cenu-list-link" href="small-features.html">Small Features</a></li>
                                                

-link " href="team.html">Team</a></li>   
          <li cla           i   
                            t/ul>ist-link" href="testimonials.html">Testimonials</a></li>
amenu-st- ite m"><a class="ee<n-lin  href="large-features.html">La rge Features</a></li>
                                                                         <li class="r                  d-megamenu-list-item"><a classamenu-list-link" href="pricing.html">Pricing</a></li>
                                                                       </ul>                      
   
              <                     <a 
                   <li  cla ss="d-pdown-i tem">  
                                          <      
/li>    </li>

             </lienu-list-item">
                     <         "         <    it   
<a                                  </li>
      </li>  <licla
                   
      <li clasmen   <liclass="rd-megamenu-list-item">
  
                                       i                                                              <ul cla  ss="rd-menu rd-navbar-dropdown">
                                    < /ul>    
 
                                            < /li>      <li cla                       <lss=  " rd-dropdown-it em"><a class ="rd-drw n-link" href="grid-bl og.html">Grid Blog</a></li>
 d-dropdown-ite"><a clas rdopd
                                i>   -dropd            < /div>
    <  /ul>  !-- RD N                                   

          <          /li  
        <li class="rd-nav             </
                  -item"><a s="rd-          <ni c la-link" href="portfolio.html">Pofoli    
                                            </li>  />  
                                          <li cla      
                          <!-- R<D/ul>ilass="
 Nava         < rd-dropd < /div>
                                            < /ul>

                       </li>     <li < /li                                         <li                <li c lass="r                d-dro pdown-item"><a cls="rd- dropdown-link" href=" masonry-layout.html">Masonry Layout</a></li>
                                                            <li cla               ss="rd-droppown-linef="modern-layo ut.html">Modern Layout</a></li>
                                                </li>    
                                        </li>
                                    </li>

                                   down-lin<k/ul>  
                                     /li> 
  <for  
                                          </l      
                    </li>  
      <li <label
                                                              
i>                                                           
                                                                                                             <li class="    r                                               !-- RD N <li ass=avbar      Megamenu-->  
                                              </li>i>


                              </li></l/  
 iv>       
  !-- RD N
                                       v cla 
                                </li>
                                                 <i </li>
                                                                                               <for                             <li cl                  ass="rd-m        
                                                                <d iv cla                       egamenu-list-i<a class="rd-megamenu-list-link" href="404-page.html">404 Page</a></li>
                                                                    <label          form 
                                        <inp   
                </div>                                                             li cl         ass="rd-megamenu-l class="rd-megamenu-list
                                                   
                                                
                    v>                                          button 
                                                                              form 
                        </di                                                             <      
                                    button 
        </div>/i>
    /na v><labelform </div>                      <l i                      class=enu-list-item">amenu-list-link" href="search-results.html">Search results</a></li>
</header>buttn
</form>
  
      </div>
   
             
          /na 
                            <li clad-m       egamenu-list-item"><a class="regamenu-list-link" href="single-service.html">Single Service</a></li>
   
s="rd            -megamenu-list-item"><a class=amenu-list-link" href="single-job.html">Single Job</a></li>
                    
       <li                                            </ul>  
                            </se    </

              
              < /li>        
        <   li 
cla               <l<di>
              </ul> /li></di
             nvs
              </div>
</header>

  <div  cla  ="r
-navbar-search" id="rd-navbar-search

ixed-element-2" data-rd-navbar-toggle="#rd-navbar-search-1"><span></span></button>e s ss
ss="rd-st   ssr
ass=r-search-form-input-1">Search...</label>
 ut nputvbar-search-form-input" id="rd-navbar-search-form-input-1" type="text" name="s" autocomplete="off"> s
<li>

</li>

i/div>  
e


e            </se <inp 
umbs -- >v />
    <d      ction on<d class>
="bre                               
           c          div>         las  s="breadcrumbs-custom-title">About Us</h1>
            <d m/-e a <d </ pr>">
                 hea f="        <secti <d                     
                               i     l"active">About Us</li>
            </u                     l>
            </se 
      <di - O  
  <secti      olass="secti              on section-lg">
                               
                                               <
                                                div class="co     l-md-10 col-lg-
                                            6">
                                                     
                                                               <h4 clas s="offset-top-3">CaseCraft works to satisfy the increasing needs of domestic and international businesses.</h4>
                                                  <p>We  are a team of dedicated business experts specialising in management, promotion, marketing, accounting, advertising, and other business-related spheres. The goal of CaseCraft is to improve the success of our clients’ busine
                                             
s   ses and offer affordable services.</p>
                                        <div>    <div  class="group group-middle"><a class="button button-primary button-winona" href="#our-history" data-waypoint-to="#our-history">View our History</a><a class="button button-primary-outline button-winona" href="careers.html">Join our Team</a></div>
                                                   >
                                                                        </div
                                            <secti        </v>  <d 

                     </sect        
 n section-lg bg-gray-700" id="our-history">
              <d        iv class="container">     
                          <!-- Ti                   melineClassic-    ->
                                                    of our client<’abusinersticle class="time      line-classic">
                                                                 <div class="timelinbusinessese-classic-item">
                                                                   <div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="images/timeline-1-390x250.jpg.jfif" alt="" width="390" height="250">
                                               </se
                                            v </ >    </div>
                                           </sect ion>         <div class="timeline-classic-item-divider"></div>
                                                                    <p c     lass="thumbnail-classic-item-subtitle">We Gathered the Team of Dedicated and Knowledgeable Business Specialists</p>
                                                <d                      
                                                                   
                     <p>    CaseC         /div><secti
                                           </v><d
                                        <div c="ti  meline-classic-item">
                        <sec    
                                      <div class="ti  meline-classic-item-aside"><img class="timeline-classic-item-image" src="images/timeline-2-390x250.jpg.jfif" alt="" width="390" height="250">
                                       </div>  

                         
                                 <d    el         </div>
        <p cla     ss="t<secime
l                                             <p>Thanks to our            rapid development, in 2007 we managed to open new offices in other states of the USA, including Georgia and Florida. We have also increased the level of our customer service and introduced new serv
         i                                        c
ywriting, web design, and SMM.</p>
      
                                
                  time      ic-item">
                                 <div class="timeline-classincludingiinternationalc-item-aside"><img class="timeline-classic-item-image" src="images/timeline-3-390x250.jpg.jfif" alt="" width="390" height="250">
                              </div>
                     v class="t<h4iclasm line</div>  div class="t<piclassline-
tem-main                                              
                  < 
                                       <p>To improve the way we provid                  o               </div>         
                            v> 
             </div>                   <>
ass     ic-                                 <h4 class=<   <div class="te-cla       ssic-i tem-aside"><img class="timeline-classic-item-image" src="images/timeline-4-390x250.jpg.jfif" alt="" width="390" height="250">
                                               </div>           
                           <div class       <h4 cla= s"timeline-classnewise rvicsuch-asite m-divider"></div>
                      div class="time       <psline-c      lassic-item-ma in">
                                              
       <p class="                  
          p     cl  as        
s="thumb           a                        s well as ourers and clients          </   
                                               <d
                         h4 class=           
   tion class="sectio    section-las t text-center">      
          <div class="conuctionc  
                <h3>Who We Are</ 
            
              <d iv     </div  
                    <div    <!oinimal-->  
                        <article="      rofile-mini      file-m in im             s="profile-minimal-title">Jean Thompson</h4>
                           <p class            ="profile-mini mal-position">PR Manager</p>     
                   </div>                       
                                     
                                  
                            lass="col-lg-4">       
               le class="prof ilfiima
                        <d                  v>
                                <p cs="        </div 
                </art ie  
               <       <                       <sec d  
ol-lg-4">                           
-> 
" p rofil       e-minima">
 class="prinimal-title">Nathanr</h4>      <p clofi    "> CEO, Fo 
          
       
       
 
                 ile M       ce-minimac="images/team-4-370x368.jpg.jf if" alt=" " width="370" height="368">
                           
profil  ma l                  <h4 class="pr          itle">Marie  Fernandeh4> 
                      l- positiog Man  
                             </a
                     < /h3>      
iv cl      clg-4">                 < 
                         
img  class="profile- minimal="images/team-5-370x3width="370" hiprofg</divh</arttie=</d>"368">
 profil     e-minimal-captio>             <d ass=" ccol-lg-4">
         h4>           er</p>div capion--leMinal--
               >                         a                imal--<>li cl<  
                                                      
           </article>                                    
                        
>< <h3 clae  <le>
</div>
  >
   iv class=<"/h3>
col-md-10       ile M i nimcll-> a-g- wow-ou
                ter"> 
             <!-ck  bg-gray-700"><img lass="post
               block    < /h3>
                    >by   <div c 
 s="t-block-meta">
   < i cl
               
      <            

                     <t                                            /ul>                                    s                                      
                                                                 </div>       
                                                                          
                               e   >               <li>by               </div>
                       

                                   
     <!-        <div< m                
                                                        
              <time cl                            
                                                                            post-         light-title"><a href="single-blog-post.html">Top 12 Ideas for Your Business</a></h4>
                                                                                 <uclass="post-ligh         t-meta">
                                                                      
                                                   <<spali>by Teresa Barne           s</li>
                                                                                 
                                                                           
/ul>                                         </div>
                                                                   
                                                       
os t Li                 < ght-->   
                                               class="w    
                                                           
                                                              <div ight-mai           n">  
                                          

                             


                                                         <article class="pol ight wow slideInLeft">
       ime class
igh                             <spa t-time" da  etime="2018"><span cost-light- time-big">2</span><span class="post-light-time-small">May</s
                                ></t>   
                              
                     <di<divvc ass=ht-main">  
                          </dih4 class="p    
                      </div><li    
     </div>
   >byes</li>            
        
               
d
                             < age         
                   </               <div c
                                   


     </son-xsteiv>r">

       <divcla</div>div

                  -


uter"><s   

<lis="wow-outer bu              tton-outer"><a class="button button-primary button-winona wow slideInLeft" href="pricing.html">View all pricing</a></div>
                 </div>                 
                             <li>
/div>       </dv>
                ction>     
                          
                                           

    
           <div                        dv class<div=c "form-wrap">    
                                                             

                                
                     
           


</</form>
                              div>       </div>
                    div 
                                
         
                  v 
         
         <li                                      
                    >

                                     </dv>


          
d     <p c 
       </di
        

                     
">
ail" data-constraints="@Email @Required">

              <d 
                             

     <div class="fo                                  
                       <div 
                    </         
                                           
                 
                     div>      <buttonclas
                                <pc<button cl 

                                  <div claster-standard 
="index.html"><img src="images/logo-light-141x21.png" alt="" width="141" height="21" srcset="images/logo-light-281x45.png 2x"></a>

                        <!-- Rights<button-clas->  

                        </       


            <div class="preoader">              </ </div>
        <diclass="pr                     >      div>
                                    <</div>
v id="                                                               </
      div>                                      </div>         
                                   <d     iv class= "layout-p                        anel-wrap" id="layout-panel-wrap">
                     <div class="layout               -panel">
                         
                           <div                class="theme-switcher-group">
                                      <button       class="theme-switcher-group-item" data-theme-name="default">Default</button>
                              <button class=            "theme-switcher-group-item" data-theme-name="style-1">Style 1
    </button>
                        <button clas                    s="theme-switcher-group-item" data-theme-name="style-2">Style 2</button>
                  <button cl                          ass="theme-switcher-group-item" data-theme-name="style-3">Style 3</button>
                                                            

                                                               
                                                      
                                            <button class="theme-switcher-group-item" data-theme-name="style-4">Style 4</button>
                                       
   <button c                                        <d                       </div>
                                                                         </div>

         </                          </div>               <pc
                     <!-- G                            bal</<div Mailform Output-->
                              
                <div                                                      ass=" id="form-output-global"></div>
            <!-- Javascript-                  ->
                                        <scri-ync             ="<buttonfclasalse" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></scrip
      t><script src="js/ns"></script>             <button cl 
/script>
                          </body>              v>


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      </                                   
            
        <div